<!-- views/footer.ejs -->
<!-- Footer -->
  <footer id="footer"><div class="container">
					<ul class="icons">
            <li><a href="https://github.com/zvarych-oleksii" class="icon fa-github"><span class="label">GitHub</span></a></li>
					</ul>
  </div>
	</footer>

  <div class="copyright">
			Made by <a>Oleksii Zvarych</a>
  </div>
