<!-- views/header.ejs -->

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"></div>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/elements">Elements</a></li>
        <% if (user) { %>
            <li><a href="/add-post">Add Post</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        <% } %>
    </ul>
</nav>

